USE [master]
GO
/****** Object:  Database [CSTUPDB]    Script Date: 11/13/2025 1:49:27 AM ******/
CREATE DATABASE [CSTUPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSTUPDB', FILENAME = N'/var/opt/mssql/data/CSTUPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSTUPDB_log', FILENAME = N'/var/opt/mssql/data/CSTUPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSTUPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSTUPDB]
GO
/****** Object:  Table [dbo].[card]    Script Date: 11/13/2025 1:49:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[comment] [nvarchar](500) NULL,
	[course] [nvarchar](255) NULL,
	[professor] [nvarchar](255) NULL,
	[avatar] [nvarchar](255) NULL,
	[anonymous] [bit] NULL,
	[reviewer_username] [nvarchar](255) NULL,
	[description] [text] NULL,
	[prof] [varchar](100) NULL,
	[helpful_count] [int] NULL,
	[not_helpful_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 11/13/2025 1:49:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[created_at] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[review_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[text] [nvarchar](1000) NULL,
	[author] [nvarchar](255) NULL,
	[student_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_profile]    Script Date: 11/13/2025 1:49:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_profile](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[last_login] [datetime2](6) NULL,
	[department] [nvarchar](255) NULL,
	[display_name] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[faculty] [nvarchar](255) NULL,
	[username] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[card] ON 

INSERT [dbo].[card] ([id], [rating], [created_at], [comment], [course], [professor], [avatar], [anonymous], [reviewer_username], [description], [prof], [helpful_count], [not_helpful_count]) VALUES (51, 5, CAST(N'2025-11-09T15:11:39.8911380' AS DateTime2), N'สอนดีมาก', N'CS101', N'์Nutchakorn', N'/Avatar/avatar1.jpg', 0, N'6709650607', NULL, NULL, 3, 0)
INSERT [dbo].[card] ([id], [rating], [created_at], [comment], [course], [professor], [avatar], [anonymous], [reviewer_username], [description], [prof], [helpful_count], [not_helpful_count]) VALUES (52, 3, CAST(N'2025-11-10T00:37:49.5798390' AS DateTime2), N'ดี', N'CS102', N'ธาปนา', N'/Avatar/avatar4.jpg', 0, N'6709650607', NULL, NULL, 0, 1)
INSERT [dbo].[card] ([id], [rating], [created_at], [comment], [course], [professor], [avatar], [anonymous], [reviewer_username], [description], [prof], [helpful_count], [not_helpful_count]) VALUES (53, 5, CAST(N'2025-11-10T01:37:39.2300990' AS DateTime2), N'ดี', N'TU100', N'ไม่รู้', N'/Avatar/avatar2.jpg', 0, N'6709650607', NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[card] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([created_at], [id], [review_id], [user_id], [text], [author], [student_id]) VALUES (CAST(N'2025-11-09T15:12:13.6776900' AS DateTime2), 39, 51, 2, N'จิงคับๆ', N'Anonymous', N'6709650607')
INSERT [dbo].[comments] ([created_at], [id], [review_id], [user_id], [text], [author], [student_id]) VALUES (CAST(N'2025-11-10T18:53:02.8140090' AS DateTime2), 40, 54, 2, N'โม้', N'Anonymous', N'6709650607')
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[user_profile] ON 

INSERT [dbo].[user_profile] ([id], [last_login], [department], [display_name], [email], [faculty], [username]) VALUES (1, CAST(N'2025-11-10T18:56:28.6563680' AS DateTime2), N'ปริญญาตรี ภาคพิเศษ สาขาวิชาวิทยาการคอมพิวเตอร์', N'ภูรินทร์ แก้วพ่วงเสก', N'phurin.kae@dome.tu.ac.th', N'คณะวิทยาศาสตร์และเทคโนโลยี', N'6709650573')
INSERT [dbo].[user_profile] ([id], [last_login], [department], [display_name], [email], [faculty], [username]) VALUES (2, CAST(N'2025-11-10T18:55:56.5381740' AS DateTime2), N'ปริญญาตรี ภาคพิเศษ สาขาวิชาวิทยาการคอมพิวเตอร์', N'รณกฤต วรลักษณ์ภักดี', N'ronnakrit.wor@dome.tu.ac.th', N'คณะวิทยาศาสตร์และเทคโนโลยี', N'6709650607')
SET IDENTITY_INSERT [dbo].[user_profile] OFF
GO
ALTER TABLE [dbo].[card] ADD  DEFAULT ((0)) FOR [anonymous]
GO
ALTER TABLE [dbo].[card] ADD  DEFAULT ((0)) FOR [helpful_count]
GO
ALTER TABLE [dbo].[card] ADD  DEFAULT ((0)) FOR [not_helpful_count]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK3hghjltrox427pm0lxsqi15ko] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_profile] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK3hghjltrox427pm0lxsqi15ko]
GO
ALTER TABLE [dbo].[card]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
